
      
        <img class="card-image-top img-fluid " style="width:500px;" src="{{ recepe.cover_photo ? recepe.cover_photo : '/assets/images/samosa.jpg' }}">
        <div class="card-body">
          <h5 class="card-title text-danger">{{ recepe.title }}</h5>
          <p class="card-text text-info">{{ recepe.description }}</p>
        </div>
        <div class="card-footer">
          <p>how many: {{ recepe.feeds_this_many }}</p>
          <p>preparation time: {{ recepe.preparation_time }}</p>
        </div>
    
   